
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul li, ol li {
    list-style: none;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Links */
body {
    font: .81em/150% "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #444;
}

a {
    color: #6685CC;
    text-decoration: none;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #B8CC66;
}

a:focus {
    outline: none;
}

/* Main content
 #main-container is wrapper for all page content
 */
#main-container {
    width: 980px;
    margin: 0 auto;
}

header {
    height: 80px;
}

/* beingpartofthechange pictures */
h1#beingpartofthechange1 {
    background: url(../img/beingpartofthechange1.png) no-repeat;
    /*width: 980px;
    height: 488px; */
    width: 635px;
    height: 317px;
    margin: 0 auto;
    padding: 10px;
}

h1#beingpartofthechange2 {
    background: url(../img/beingpartofthechange2.png) no-repeat;
    width: 627px;
    height: 196px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-indent: -9999px;
}

.textEvolution {
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:1pt;
    font-size:2em;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
    line-height:2;
}
.textIMMINENT {
    font-weight:normal;
    letter-spacing:1pt;
    word-spacing:1pt;
    font-size:2em;
    text-align: center;
    font-family:arial, helvetica, sans-serif;
    line-height:2;
    color: lightgreen;
}

.textLearn {
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:1pt;
    font-size:1em;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
    line-height:2;
}
.textfuture {
     color: red;
 }
.textUS {
    color: darkblue;
}
.textDoNot {
    font-weight:normal;
    color:#000000;
    letter-spacing:0.5pt;
    word-spacing:1pt;
    font-size:2em;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
    line-height:2;
}